<!DOCTYPE html>
<html>
  <head>
    <title>EasySocket test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <textarea id="collab"></textarea>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script> 
        <script>
          
          var socket = io("http://localhost:8000");

          socket.on('news', function(data){
            console.log(data);
          })

          $('#collab').on('input', function(){
            socket.emit('textChange', $(this).val());
          })

          socket.on('textUpdate', function(data){
            $('#collab').val(data);
          })

        </script>
  </body>
</html>
